/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************ header ************/

/* 
debug header 
*/

/* contenitore esterno dell'intestazione */
.debug header .container-intesta {
  height: 85px;
  width: 100%;
  background-color: #add8e6;
}
/* /contenitore esterno dell'intestazione */

/* contenitore dell'intestazione */
.debug header .intestazione {
  width: 1250px;
  height: 50px;
  background-color: #daa520;
}
/* /contenitore dell'intestazione */

/* contenitori di logo, login e link */
.debug header .lil-container {
  width: 250px;
  height: 100%;
  border: black 2px dashed;
}

.debug header .big-container {
  width: calc(100% - 500px);
  border: black 2px dashed;
}
/* /contenitori di logo, login e link */

/* contenitore esterno di banner */
.debug header .container-banner {
  height: 520px;
  width: 100%;
  background-color: #00008b;
}
/* /contenitore esterno di banner */

/* contenitore del banner */
.debug header .banner {
  width: 950px;
  height: 416px;
  background-color: #ee82ee;
  border: black 2px dashed;
}
/* /contenitore del banner */

/* 
/debug header 
*/

/* 
intestazione
*/

.container-intesta {
  display: flex;
  align-items: center;
}
/* contenitore padre di logo login e link */
.intestazione {
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
}
/* /contenitore padre di logo login e link */

/* contenitori di logo, login e link */
.lil-container {
  padding: 15px;
}

/* /contenitori di logo, login e link */

/* posizionamento di logo, login e link */
.logo {
  display: flex;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /posizionamento di logo, login e link */

/* 
/intestazione 
*/

/* 
banner 
*/
.container-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
/banner 
*/

/************ /header ************/

/* ***** main ****** */

/* 
debug main 
*/

.debug main .container-sez {
  height: 630px;
}

.debug main .sez-big {
  height: 520px;
  width: 750px;
  background-color: #1e90ff;
  border: black dashed 2px;
}

.debug main .sez-lil {
  height: 520px;
  width: 500px;
  background-color: #ffc0cb;
  border: black dashed 2px;
}

.debug main .sezione-2 {
  background-color: #d3d3d3;
}

.debug main .sezione-4 {
  height: 1040px;
  background-color: #d3d3d3;
}

.debug main .final-block {
  height: 950px;
  width: 1250px;
  background-color: #228b22;
  border: black dashed 2px;
}

/*
 /debug main 
 */

/* contenitore base delle sezioni */
.container-sez {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /contenitore base delle sezioni */

/* inversione delle solonne della sezione 2 */
.sezione-2 {
  display: flex;
  flex-direction: row-reverse;
}
/* /inversione delle solonne della sezione 2 */

/* ***** /main ****** */
