/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

/* debug intestazione */
.debug header .container-intesta {
  background-color: #add8e6;
}

.debug header .container-intesta .intestazione {
  background-color: #daa520;
}
.debug header .container-intesta .intestazione .lil-container {
  border: black 2px dashed;
}

.debug header .container-intesta .intestazione .big-container {
  border: black 2px dashed;
}

/* /intestazione */

.container-intesta {
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
}
/* contenitore padre di logo login e link */
.intestazione {
  width: 1250px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
}
/* /contenitore padre di logo login e link */

/* contenitori di logo, login e link */
.lil-container {
  width: 250px;
  height: 100%;
  padding: 15px;
}

.big-container {
  width: calc(100% - 500px);
}
/* /contenitori di logo, login e link */

/* posizionamento di logo, login e link */
.logo {
  display: flex;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /posizionamento di logo, login e link */

/* /intestazione */

/* banner */
.container-banner {
  height: 520px;
  width: 100%;
  background-color: #00008b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 950px;
  height: 416px;
  background-color: #ee82ee;
  border: black 2px dashed;
}

/* /banner */
